.des {
  font-size: 1rem;
  margin: 0 0.5rem;
  color: #f0f0f0;
  text-shadow: 1px 1px 1px 1px #333;
}

footer {
  text-align: center !important;
}

article h1 {
  line-height: 1.3;
  font-size: 2.5rem;
  margin: 2rem 0;
}

article h2 {
  font-size: 2.125rem;
  margin-top: 32px;
  margin-bottom: 16px;
}

article h3 {
  font-size: 1.825rem;
  margin-top: 24px;
  margin-bottom: 16px;
}

pre,
pre>code {}

.tabGroup>ul.nav.nav-tabs {
  --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) #171717;
  --bs-nav-tabs-border-radius: 0;
}

/*    .tabGroup > ul.nav.nav-tabs > .nav-item {
        border-top: 4px solid #75b6e7;
    }*/

.card {
  border-radius: 0;
}

.alert-warning {
  --bs-alert-color: #f9ebbf;
  --bs-alert-bg: #6a4b16;
  --bs-alert-border-color: none;
}

.alert-info {
  --bs-alert-color: #e6e6e6;
  --bs-alert-bg: #3b2e58;
  --bs-alert-border-color: none;
}

.alert-danger {
  --bs-alert-color: #e6e6e6;
  --bs-alert-bg: #004173;
  --bs-alert-border-color: none;
}

nav#affix {
  border-radius: 6px;
  border: 1px solid #404040;
}

.affix h5 {
  padding: 0.8rem;
  background: #2f2f2f;
  width: 100%;
  color: #e6e6e6;
  font-weight: normal;
}

.affix ul li {
  padding: 0 0.8rem;
}

.affix ul li a {
  color: #75b6e7;
}

[data-bs-theme=dark] {
  --bs-body-color: #e6e6e6;
  --bs-code-color: #e6e6e6;
  --bs-body-bg: #171717;
  --bs-body-bg-rgb: 23, 23, 23;
}

[data-bs-theme=dark] .hljs {
  color: #c9d1d9;
  background: #1d1d1d;
}

[data-bs-theme=dark] code {
  font-size: .875em;
  word-wrap: break-word;
  background-color: #515151;
  padding: 1px 3px;
  border-radius: 2px;
}


[data-bs-theme=dark] .hljs-keyword,
[data-bs-theme=dark] .hljs-meta .hljs-keyword,
[data-bs-theme=dark] .hljs-template-tag,
[data-bs-theme=dark] .hljs-template-variable,
[data-bs-theme=dark] .hljs-type,
[data-bs-theme=dark] .hljs-variable.language_ {
  color: #569CD6;
}

[data-bs-theme=dark] .hljs-title,
[data-bs-theme=dark] .hljs-title.class_,
[data-bs-theme=dark] .hljs-title.class_.inherited__,
[data-bs-theme=dark] .hljs-title.function_ {
  color: #4ec9b0;
}

[data-bs-theme=dark] .hljs-doctag,
[data-bs-theme=dark] .hljs-comment {
  color: #608b4e;
}

[data-bs-theme=dark] .hljs-built_in {
  color: #569CD6;
}

[data-bs-theme=dark] .hljs-string,
[data-bs-theme=dark] .hljs-number {
  color: #ce9178;
}

[data-bs-theme=dark] pre code.hljs {
  color: #d4d4d4;
  font-size: 14px;
  text-shadow: none;
  font-family: 'Cascadia Code PL', 'Cascadia Code', 'Consolas', Menlo, Monaco, 'Courier New', Courier, monospace;
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
}


[data-bs-theme=dark] .hljs-selector-attr,
[data-bs-theme=dark] .hljs-selector-tag {
  color: #d7ba7d;
}